*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.codigos-postados {
    width: 70%;
}

input#input-buscar {
    background-color: #2d415a;
    width: 100%;
    height: 56px;
    color: #4a5869;
    border: none;
    padding-left: 10px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
}
.input-buscar{
    width: 55% !important;
}
.input-buscar--mobile {
    display: none;

}
.post {
    width: 50%;
    float: left;
    padding-right: 10px;
}

.section-area-de-codigo--comunidade{
    width: 100%;
}
.EditorDeCodigo {
    background-color: #112d5a;
}

.Comunidade {
    background-color: #5081fb;
}

.code-info{
    width: 100%;
    padding: 20px;
    background-color: #041832;
    position: relative;
    top: -10px;
    color: white;
}

.code-info h2{
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.code-info p{
    font-size: .8rem;
    font-weight: 300;
}

.social-wrapper{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
}
.reacoes{
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    
}

.reacoes img{
    padding-right: 3px;
    
}
.reacoes img.comentario{
    padding-left: 10px;
}
.Usuario--post{
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.Usuario--post img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 7px;
}

.codigos-postados {
    width: 100%;
}

.lixeira{
    margin-left: 10px;
    height: 35px;
    width: 30px;
    cursor:pointer;
    background-image: url(../imgs/lixeira.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.invisivel{
    display: none;
}
@media screen and (max-width: 1024px) {

    .menu-mobile {
        display: block;
        width: 25% !important;
    }

}
@media screen and (max-width: 768px) {

    .menu-mobile {
        width: 50% !important;
    }
}

@media screen and (max-width: 740px) {
    .post {
        width: 100%;
        float: none;
        padding: 2%;
    }

    .menu-mobile {
        width: 50% !important;
    }

    .input-buscar--mobile {
        display: block;
        padding: 2%;
    }
}


